body {
    background-color: pink;
}

.bg-green{
    background-color: lightgreen;
}

.post-container{
    display: flex;
}

.card{
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}

.btn{
    font-size: x-large;
    color:aqua
    text-decoration: none;
    font-family: "Lucida Sans";
    border-style: none;
    background-color: lightgreen;
    border-radius: 6px;
    padding: 6px 12px;
    margin: 12px;
}

.btn:hover{
    background-color: lightblue;
    transition: all ease 0.2s;
}

@media (max-width: 600px){
    .post-container{
        flex-direction: column;
    }


.btn{
    display: block;
    text-align: center;
    }
}

